import {
    ActionRowBuilder,
    ButtonBuilder,
    ButtonStyle,
    ChatInputCommandInteraction,
    MessageActionRowComponentBuilder,
    SlashCommandBuilder,
} from "discord.js";

const string = "";

module.exports = {
    data: new SlashCommandBuilder()
        .setName("template")
        .setDescription("Template description")
        .addStringOption(option => option.setName("template").setDescription("Template description")),
    async execute(interaction: ChatInputCommandInteraction) {
        const delMsg = new ButtonBuilder()
            .setCustomId(`delMsg.${interaction.user.id}`)
            .setLabel("Delete")
            .setStyle(ButtonStyle.Danger);

        const row = new ActionRowBuilder<MessageActionRowComponentBuilder>().addComponents(delMsg);

        const template = interaction.options.getUser("template");

        if (template) {
            return interaction.reply({
                content: `${template}\n${string}`,
                components: [row],
            });
        }

        interaction.reply({
            content: `${string}`,
            components: [row],
        });
    },
};
